<div class="row">
    <h1>Experiencia Laboral</h1>

    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaExp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>{{Experiencia.nombreExp}}</td>
                    <td>{{Experiencia.descripcionExp}}</td>
                    <td>Editar</td>
                    <td>Borrar</td>
                </tr>
            </tbody>
    
        </table>
    </div>   

</div>
