<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="col-lg-2 mb-4 mt-2">
    <button
      type="button" class="btn btn-dark" routerLink="/nuevaSkill" *ngIf="isLogged">
      Nueva Skill
    </button>
  </div>
  <div></div>
  <!-- Graficos -->
  <div class="text-center col-xs-12 col-md-6 col-lg-4 circulo" *ngFor="let skill of skill">
    <circle-progress
      [percent]="(skill.porcentaje)"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#61A9DC'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundGradient]="true"
      [backgroundOpacity]="0.5"
      [backgroundColor]="'#ffffff'"
      [backgroundGradientStopColor]="'#C7E596'"
      [title]="(skill.nombreHS)"
      [showTitle]="true"
      [showSubtitle]="false"
      [titleColor]="'#0468BC'"
      [titleFontSize]="'25px'"
      [titleFontWeight]="'700'"
      [showUnits]="false"
      [imageSrc]="''"
      [showImage]="false"
      [imageHeight]="70"
      [imageWidth]="70"
    ></circle-progress>

    <!-- Agregamos dos botones -->
    <div *ngIf="isLogged">
      <button class="btn btn-warning" routerLink="/editSkill/{{ skill.id }}">
        <i class="bi bi-pencil-square"></i>
      </button>
      <button class="btn btn-danger" (click)="onDelete(skill.id)">
        <i class="bi bi-trash-fill"></i>
    </button>
  </div>
  </div>

  <!--  
  Ejemplo de uno estatico
  <div class="text-center ccol-xs-12 col-md-6 col-lg-4">
    <circle-progress
      [percent]="92"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#61A9DC'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundGradient]="true"
      [backgroundOpacity]="0.5"
      [backgroundColor]="'#ffffff'"
      [backgroundGradientStopColor]="'#C7E596'"
      [title]="'Equipo'"
      [titleColor]="'#61A9DC'"
      [titleFontSize]="'25px'"
      [titleFontWeight]="'700'"
      [showUnits]="false"
      [imageSrc]="'../assets/flexibilidad.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
    ></circle-progress>
  </div> -->
</div>
