<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="text-center col-xs-12 col-md-6 col-lg-4">
    <circle-progress
      [percent]="80"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#61A9DC'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundGradient]="true"
      [backgroundOpacity]="0.5"
      [backgroundColor]="'#ffffff'"
      [backgroundGradientStopColor]="'#C7E596'"
      [title]="'HTML'"
      [titleColor]="'#61A9DC'"
      [titleFontSize]="'25px'"
      [titleFontWeight]="'700'"
      [showUnits]="false"
      [imageSrc]="'../assets/css.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
    ></circle-progress>
  </div>
  <div class="text-center col-xs-12 col-md-6 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#61A9DC'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundGradient]="true"
      [backgroundOpacity]="0.5"
      [backgroundColor]="'#ffffff'"
      [backgroundGradientStopColor]="'#C7E596'"
      [title]="'CSS'"
      [titleColor]="'#61A9DC'"
      [titleFontSize]="'25px'"
      [titleFontWeight]="'700'"
      [showUnits]="false"
      [imageSrc]="'../assets/html-5.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
    ></circle-progress>
  </div>
  <div class="text-center col-xs-12 col-md-6 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#61A9DC'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundGradient]="true"
      [backgroundOpacity]="0.5"
      [backgroundColor]="'#ffffff'"
      [backgroundGradientStopColor]="'#C7E596'"
      [title]="'JS'"
      [titleColor]="'#61A9DC'"
      [titleFontSize]="'25px'"
      [titleFontWeight]="'700'"
      [showUnits]="false"
      [imageSrc]="'../assets/archivo-js.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
    ></circle-progress>
  </div>
  <div class="text-center col-xs-12 col-md-6 col-lg-4">
    <circle-progress
      [percent]="80"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#61A9DC'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundGradient]="true"
      [backgroundOpacity]="0.5"
      [backgroundColor]="'#ffffff'"
      [backgroundGradientStopColor]="'#C7E596'"
      [title]="'GitHub'"
      [titleColor]="'#61A9DC'"
      [titleFontSize]="'25px'"
      [titleFontWeight]="'700'"
      [showUnits]="false"
      [imageSrc]="'../assets/i-github.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
    ></circle-progress>
  </div>
  <div class="text-center col-xs-12 col-md-6 col-lg-4">
    <circle-progress
      [percent]="95"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#61A9DC'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundGradient]="true"
      [backgroundOpacity]="0.5"
      [backgroundColor]="'#ffffff'"
      [backgroundGradientStopColor]="'#C7E596'"
      [title]="'Flexibilidad'"
      [titleColor]="'#61A9DC'"
      [titleFontSize]="'25px'"
      [titleFontWeight]="'700'"
      [showUnits]="false"
      [imageSrc]="'../assets/compromiso.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
    ></circle-progress>
  </div>
  <div class="text-center ccol-xs-12 col-md-6 col-lg-4">
    <circle-progress
      [percent]="92"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#61A9DC'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundGradient]="true"
      [backgroundOpacity]="0.5"
      [backgroundColor]="'#ffffff'"
      [backgroundGradientStopColor]="'#C7E596'"
      [title]="'Equipo'"
      [titleColor]="'#61A9DC'"
      [titleFontSize]="'25px'"
      [titleFontWeight]="'700'"
      [showUnits]="false"
      [imageSrc]="'../assets/flexibilidad.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
    ></circle-progress>
  </div>
</div>
