.row{
    margin: 0;
    padding: 0;
}
.bg_img{
    background-image: url("../../../assets/banner.png");
    width: 100%;
    min-height: 300px;
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (min-width: 992px) {
    .bg_img{
        height: 400px;
    }
}

