<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="d-flex justify-content-center">
            <app-logo-ap></app-logo-ap> 
        </div>                 
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="d-flex justify-content-center justify-content-sm-end ">            
            <app-social></app-social>                
        </div>        
    </div> 
</div>
<div class="row">
    <div>
        <app-banner></app-banner>
    </div>
</div>

