<div class="row">
    <!-- Boton de edición -->
   <!--  <div class="btn_editar">
        <button type="button" class="btn btn-warning" routerLink="/editacercade/1" *ngIf="isLogged"><i class="bi bi-pencil-square"></i></button>
    </div> -->
    <!-- Foto perfil -->
    <div class="col-xs-12  col-sm-12 col-md-2 col-lg-2">
        <img src={{persona?.img}} alt="Foto perfil" class="img-fluid" id="foto_perfil">

        <button type="button" class="btn btn-warning btn_editar" routerLink="/editacercade/1" *ngIf="isLogged"><i class="bi bi-pencil-square"></i></button>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <p id="nombre">{{persona?.nombre}} {{persona?.apellido}}</p>
        <p id="profecion">{{persona?.profecion}}</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mí</h1>
            <p class="p_descripcion">{{persona?.descripcion}}</p>
        </span>
    </div>    
</div>
