<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="Logo Argentina Programa" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://ar.linkedin.com/" target="_blank">
                <img src="../../../assets/linkedin.png" alt="logo Linkeding">
            </a>
            <a href="https://github.com/" target="_blank">
                <img src="../../../assets/github.png" alt="logo Github">
            </a>
            <a href="https://es-la.facebook.com/" target="_blank">
                <img src="../../../assets/facebook.png" alt="logo Facebook">
            </a>
            <a href="https://twitter.com/?lang=es" target="_blank">
                <img src="../../../assets/twitter.png" alt="logo Twitter">
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <img src="../../../assets/instagram.png" alt="logo Instagram">
            </a>            
        </div>
        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
        
    </div>
</div>

