<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.JPG" alt="Foto perfil" class="img-fluid" id="foto_perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Pablo Nodari</p>
        <p id="profecion">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore dolores neque quasi minima, fuga magnam amet eos quam nisi molestias tempore corporis similique recusandae quis ipsum animi labore illo ipsa.</p>
        </span>
    </div>    
</div>
